@font-face {
    font-family: "Orbitron";
    src: url("../assets/Orbitron-VariableFont_wght.ttf");
    font-weight: 400 900;
}

html, body, #root {
    background-color: grey;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.digitalTime {
    padding: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Orbitron", monospace;
    font-size: 8vh;
    font-weight: 400;
    white-space: nowrap;
}